apiVersion: v2
appVersion: 1.17.1
kubeVersion: ">=1.16.0-0"
description: A Helm chart for velero
name: velero
version: 11.1.1-bb.1
home: https://github.com/vmware-tanzu/velero
icon: https://cdn-images-1.medium.com/max/1600/1*-9mb3AKnKdcL_QD3CMnthQ.png
sources:
  - https://github.com/vmware-tanzu/velero
maintainers:
  - name: jenting
    email: hsiaoairplane@gmail.com
  - name: reasonerjt
    email: jiangd@vmware.com
  - name: ywk253100
    email: yinw@vmware.com
dependencies:
  - name: gluon
    version: 0.9.6
    repository: oci://registry1.dso.mil/bigbang
  - name: velero
    alias: upstream
    version: 11.1.1
    repository: https://vmware-tanzu.github.io/helm-charts
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Velero: 1.17.1
  bigbang.dev/upstreamReleaseNotesMarkdown: |
    * [Find our upstream chart's CHANGELOG here](https://github.com/vmware-tanzu/velero/blob/main/CHANGELOG.md)
    * [and our upstream application release notes here](https://github.com/vmware-tanzu/velero/releases)
  helm.sh/images: |
    - name: velero-plugin-for-csi
      image: registry1.dso.mil/ironbank/opensource/velero/velero-plugin-for-csi:v0.7.1
      condition: plugins.csi.enabled
    - name: velero-plugin-for-aws
      image: registry1.dso.mil/ironbank/opensource/velero/velero-plugin-for-aws:v1.13.1
      condition: plugins.aws.enabled
    - name: velero-plugin-for-azure
      image: registry1.dso.mil/ironbank/opensource/velero/velero-plugin-for-microsoft-azure:v1.13.1
      condition: plugins.azure.enabled
    - name: velero
      image: registry1.dso.mil/ironbank/opensource/velero/velero:v1.17.1
    - name: base
      image: registry1.dso.mil/ironbank/big-bang/base:2.1.0
    - name: velero-tester
      condition: bbtests.enabled
      image: registry1.dso.mil/ironbank/big-bang/devops-tester:1.0
    - name: ngnix
      image: registry1.dso.mil/ironbank/opensource/nginx/nginx:1.29.3
