apiVersion: v2
appVersion: 1.11.1
kubeVersion: ">=1.16.0-0"
description: A Helm chart for velero
name: velero
version: 5.0.2-bb.1
home: https://github.com/vmware-tanzu/velero
icon: https://cdn-images-1.medium.com/max/1600/1*-9mb3AKnKdcL_QD3CMnthQ.png
sources:
- https://github.com/vmware-tanzu/velero
maintainers:
  - name: jenting
    email: hsiaoairplane@gmail.com
  - name: reasonerjt
    email: jiangd@vmware.com
  - name: qiuming-best
    email: mqiu@vmware.com
  - name: ywk253100
    email: yinw@vmware.com
dependencies:
  - name: gluon
    version: 0.3.1
    repository: oci://registry.dso.mil/platform-one/big-bang/apps/library-charts/gluon
annotations:
  bigbang.dev/applicationVersions: |
    - Velero: 1.11.1
  helm.sh/images: |
    - name: velero-plugin-for-csi
      image: registry1.dso.mil/ironbank/opensource/velero/velero-plugin-for-csi:v0.5.1
      condition: plugins.csi.enabled
    - name: velero-plugin-for-aws
      image: registry1.dso.mil/ironbank/opensource/velero/velero-plugin-for-aws:v1.7.1
      condition: plugins.aws.enabled
    - name: velero-plugin-for-azure
      image: registry1.dso.mil/ironbank/opensource/velero/velero-plugin-for-microsoft-azure:v1.7.1
      condition: plugins.azure.enabled
    - name: velero
      image: registry1.dso.mil/ironbank/opensource/velero/velero:v1.11.1
    - name: kubectl
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:1.27.4
    - name: velero-tester
      condition: bbtests.enabled 
      image: registry1.dso.mil/bigbang-ci/velero-tester:1.0.0
