##

openshift: false

domain: dev.bigbang.mil

istio:
  # Toggle istio integration
  enabled: false
  hardened:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
    customServiceEntries:
      []
      # - name: "allow-google"
      #   enabled: true
      #   spec:
      #     hosts:
      #       - "www.google.com"
      #       - "google.com"
      #     location: MESH_EXTERNAL
      #     ports:
      #       - number: 443
      #         protocol: TLS
      #         name: https
      #     resolution: DNS
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
    tempo:
      enabled: true
      namespaces:
        - tempo
      principals:
        - cluster.local/ns/tempo/sa/tempo-tempo
    monitoring:
      enabled: true
  # -- Default velero peer authentication
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT

monitoring:
  enabled: false

networkPolicies:
  enabled: false
  ingressLabels:
    app: istio-ingressgateway
    istio: ingressgateway
  # See `kubectl cluster-info` and then resolve to IP
  controlPlaneCidr: 0.0.0.0/0
  additionalPolicies: []

# -- Velero csi plugin options
csi:
  # -- Driver to use for Velero csi plugin. Default: "ebs.csi.aws.com"
  driver: "ebs.csi.aws.com"
  # -- Set Velero VolumeSnapshotClass to default. Supported values: "true"/"false"
  defaultClass: "true"

bbtests:
  enabled: false
  scripts:
    image: registry1.dso.mil/ironbank/big-bang/devops-tester:1.0
    envs:
      MINIO_HOST: http://minio.minio.svc
      MINIO_USER: minio
      MINIO_PASS: minio123
      SCHEDULED_BACKUP_NAME: '{{ include "velero.fullname" . | trim }}-scheduled-backup'
      SCHEDULED_TEST: "false"
    secretEnvs:
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
    additionalVolumes:
      - name: minio-volume
        emptyDir: {}
    additionalVolumeMounts:
      - mountPath: /home/devops-user/.mc
        name: minio-volume

upstream:
  image:
    repository: registry1.dso.mil/ironbank/opensource/velero/velero
    tag: v1.17.1
    pullPolicy: IfNotPresent
    imagePullSecrets:
      - private-registry

  nameOverride: "velero"
  fullnameOverride: "velero"

  resources:
    requests:
      cpu: 1000m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 512Mi
    # Resource requests/limits to specify for the upgradeCRDs job pod.
    upgradeJob:
      requests:
        cpu: 100m
        memory: 256Mi
      limits:
        cpu: 100m
        memory: 256Mi

  upgradeJobResources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 100m
      memory: 256Mi

  initContainers:
    - name: velero-plugin-for-aws
      image: registry1.dso.mil/ironbank/opensource/velero/velero-plugin-for-aws:v1.13.1
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins
      resources:
        requests:
          memory: 512Mi
          cpu: 100m
        limits:
          memory: 512Mi
          cpu: 100m
      securityContext:
        capabilities:
          drop:
            - ALL

  podSecurityContext:
    # BB fix.  The default docker image runs as uid:gid 65534:65534 -- set the values here for kyverno
    runAsUser: 65534
    runAsGroup: 65534

  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true

  metrics:
    prometheusRule:
      spec:
        - alert: VeleroVeleroJobAbsent
          annotations:
            message: ""
          expr: absent(up{job="velero-velero", namespace="velero"})
          for: 10m
          labels:
            severity: critical
        - alert: VeleroBackupPartialFailures
          annotations:
            message: Velero backup job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} partially failed backups.
          expr: velero_backup_partial_failure_total{job!=""} / velero_backup_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: warning
        - alert: VeleroBackupFailures
          annotations:
            message: Velero backup job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} failed backups.
          expr: velero_backup_failure_total{job!=""} / velero_backup_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: critical
        - alert: VeleroBackupValidationFailures
          annotations:
            message: Velero backup job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} failed backup validations.
          expr: velero_backup_validation_failure_total{job!=""} / velero_backup_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: critical
        - alert: VeleroBackupDeletionFailures
          annotations:
            message: Velero backup job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} failed backup deletions.
          expr: velero_backup_deletion_failure_total{job!=""} / velero_backup_deletion_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: critical
        - alert: VeleroBackupItemErrors
          annotations:
            message: Velero backup job ( {{`{{`}} $labels.job {{`}}`}} ) has item errors.
          expr: velero_backup_items_errors{job!=""} > 0
          for: 10m
          labels:
            severity: critical
        - alert: VeleroCSISnapshotFailures
          annotations:
            message: Velero CSI snapshot job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} failed CSI snapshots.
          expr: velero_csi_snapshot_failure_total{job!=""} / velero_csi_snapshot_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: critical
        - alert: VeleroRestorePartialFailures
          annotations:
            message: Velero restore job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} partially failed restores.
          expr: velero_restore_partial_failure_total{job!=""} / velero_restore_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: warning
        - alert: VeleroRestoreFailures
          annotations:
            message: Velero restore job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} failed restores.
          expr: velero_restore_failed_total{job!=""} / velero_restore_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: critical
        - alert: VeleroRestoreValidationFailures
          annotations:
            message: Velero restore job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} failed restore validations.
          expr: velero_restore_validation_failed_total{job!=""} / velero_restore_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: critical
        - alert: VeleroVolumeSnapshotFailures
          annotations:
            message: Velero volume snapshot job ( {{`{{`}} $labels.job {{`}}`}} ) has {{`{{`}} $value | humanizePercentage {{`}}`}} failed volume snapshots.
          expr: velero_volume_snapshot_failure_total{job!=""} / velero_volume_snapshot_attempt_total{job!=""} > 0
          for: 10m
          labels:
            severity: critical

  kubectl:
    image:
      repository: registry1.dso.mil/ironbank/big-bang/base
      tag: 2.1.0
    containerSecurityContext:
      capabilities:
        drop:
          - ALL
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 256Mi
        cpu: 100m
    annotations:
      sidecar.istio.io/inject: "false"

  ##
  ## End of deployment-related settings.
  ##

  configuration:
    backupStorageLocation:
      - name:
        provider: ""
        bucket: ""
        caCert:
        prefix:
        default:
        validationFrequency:
        accessMode: ReadWrite
        credential:
          name:
          key:
        config:
          region: us-gov-west-1

        annotations: {}

    volumeSnapshotLocation:
      - name:
        provider: ""
        credential:
          name:
          key:
        config:
          region: us-gov-west-1
        annotations: {}

  ##
  ## End of backup/snapshot location settings.
  ##

  ##
  ## Settings for additional Velero resources.
  ##

  nodeAgent:
    resources:
      requests:
        cpu: 1000m
        memory: 1024Mi
      limits:
        cpu: 1000m
        memory: 1024Mi

    podSecurityContext:
      runAsUser: 0
      fsGroup: 1337

    containerSecurityContext:
      capabilities:
        drop:
          - ALL

  ##
  ## End of additional Velero resource settings.
  ##
