{{- if and .Values.networkPolicies.enabled ( or .Values.upstream.metrics.enabled .Values.monitoring.enabled ) }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-scraping
  namespace: {{ .Release.Namespace }}
spec:
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            app.kubernetes.io/name: monitoring
        podSelector:
          matchLabels:
            app: prometheus
      ports:
      - port: 8085
  podSelector:
    matchLabels:
      app.kubernetes.io/name: {{ include "velero.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/managed-by: {{ .Release.Service }}
      helm.sh/chart: {{ include "velero.chart" . }} 
  policyTypes:
    - Ingress
{{- end }}
