{{- if and .Values.networkPolicies.enabled .Values.bbtests.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-velero-test-script
  namespace: {{ .Release.Namespace }}
spec:
  podSelector: 
    matchLabels:
      service.istio.io/canonical-name: velero-script-test
  egress:
  - to:
    - ipBlock:
        cidr: 0.0.0.0/0
        # ONLY Block requests to AWS metadata IP
        except:
        - 169.254.169.254/32
  policyTypes:
  - Egress
{{- end }}