{{- range $key, $value := .Values.configuration.backupStorageLocation }}
{{- if not (empty $value.caCert ) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "velero.secretName" . }}-cabundle
  labels:
    app.kubernetes.io/name: {{ include "velero.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ include "velero.chart" . }}
type: Opaque
data:
 ca-bundle.crt: {{ $value.caCert }}
{{- end -}}
{{- end -}}