{{- if .Values.configuration.features -}}
{{- $value := .Values.configuration.features -}}
{{- if eq $value "EnableCSI" }}
{{- if or (not (.Capabilities.APIVersions.Has "snapshot.storage.k8s.io/v1/VolumeSnapshot")) (not (.Capabilities.APIVersions.Has "snapshot.storage.k8s.io/v1/VolumeSnapshotClass")) (not (.Capabilities.APIVersions.Has "snapshot.storage.k8s.io/v1/VolumeSnapshotContents")) }}{{- fail "Missing required CRDs for CSI: VolumeSnapshot, VolumeSnapshotClass, VolumeSnapshotContents. Please install dependencies according to the overview at https://docs-bigbang.dso.mil/latest/packages/velero/docs/overview/ ."  }}{{- end }}
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: csi-volumesnapshotclass
  annotations:
    {{- if eq $.Values.csi.defaultClass "" }}{{- fail "Must set Velero VolumeSnapshotClass to default. Supported values: \"true\"/\"false\"" }}{{- end }}
    snapshot.storage.kubernetes.io/is-default-class: {{ $.Values.csi.defaultClass | quote }}
  labels:
    # Required label for Velero
    velero.io/csi-volumesnapshot-class: "true"
{{- if eq ($.Values.csi.driver) "" }}{{- fail "Must choose csi driver if .Values.configuration.features is set to EnableCSI" }}{{- end }}
driver: {{ $.Values.csi.driver }}
deletionPolicy: Delete
{{- end }}
{{- end -}}
