{{- if .Values.configuration.features -}}
{{- $value := .Values.configuration.features -}}
{{- if eq $value "EnableCSI" }}
apiVersion: snapshot.storage.k8s.io/v1
kind: VolumeSnapshotClass
metadata:
  name: csi-volumesnapshotclass
  annotations:
    {{- if eq $.Values.csi.defaultClass "" }}{{- fail "Must set Velero VolumeSnapshotClass to default. Supported values: \"true\"/\"false\"" }}{{- end }}
    snapshot.storage.kubernetes.io/is-default-class: {{ $.Values.csi.defaultClass | quote }}
  labels:
    # Required label for Velero
    velero.io/csi-volumesnapshot-class: "true"
{{- if eq ($.Values.csi.driver) "" }}{{- fail "Must choose csi driver if .Values.configuration.features is set to EnableCSI" }}{{- end }}
driver: {{ $.Values.csi.driver }}
deletionPolicy: Delete
{{- end }}
{{- end -}}
